<app-page-title [title]="'Admin-panel'" [pagetitle]="'Admin'"></app-page-title>

<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12 card">
    <div class="xl:col-span-12">
        <div class="collapsible">
            <button appCollapsible class="flex items-center w-full p-3 mb-0 text-left collapsible-header group/item">
                <h6 class="ml-2 text-15">General 1</h6>
                <div class="ltr:ml-auto rtl:mr-auto shrink-0">
                    <lucide-angular name="chevron-down" [class]="'hidden size-4 group-[.show]/item:inline-block'"></lucide-angular>
                    <lucide-angular name="chevron-up" [class]="'inline-block  size-4 group-[.show]/item:hidden'"></lucide-angular>
                </div>
            </button>
            <div class="hidden mb-0 collapsible-content card-body">
            <div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12">
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-purple-500 rounded-md bg-purple-50 shrink-0 dark:bg-purple-500/10">
                            <lucide-angular name="trending-up"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Add Carrier</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-red-500 rounded-md bg-red-50 shrink-0 dark:bg-red-500/10">
                            <lucide-angular name="wallet-2"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Add Airway Bill Number</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-green-500 rounded-md bg-green-50 shrink-0 dark:bg-green-500/10">
                            <lucide-angular name="package"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Shipper Information</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-yellow-500 rounded-md bg-yellow-50 shrink-0 dark:bg-yellow-500/10">
                            <lucide-angular name="truck"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Forwarder Information</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12 card">
    <div class="xl:col-span-12">
        <div class="collapsible">
            <button appCollapsible class="flex items-center w-full p-3 mb-0 text-left collapsible-header group/item">
                <h6 class="ml-2 text-15">General 2</h6>
                <div class="ltr:ml-auto rtl:mr-auto shrink-0">
                    <lucide-angular name="chevron-down" [class]="'hidden size-4 group-[.show]/item:inline-block'"></lucide-angular>
                    <lucide-angular name="chevron-up" [class]="'inline-block  size-4 group-[.show]/item:hidden'"></lucide-angular>
                </div>
            </button>
            <div class="hidden mb-0 collapsible-content card-body">
            <div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12">
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-purple-500 rounded-md bg-purple-50 shrink-0 dark:bg-purple-500/10">
                            <lucide-angular name="trending-up"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Add Carrier</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-red-500 rounded-md bg-red-50 shrink-0 dark:bg-red-500/10">
                            <lucide-angular name="wallet-2"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Add Airway Bill Number</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-green-500 rounded-md bg-green-50 shrink-0 dark:bg-green-500/10">
                            <lucide-angular name="package"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Shipper Information</p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-3">
                    <div class="flex items-center gap-4 my-3">
                        <div class="flex items-center justify-center size-12 text-yellow-500 rounded-md bg-yellow-50 shrink-0 dark:bg-yellow-500/10">
                            <lucide-angular name="truck"></lucide-angular>
                        </div>
                        <div class="grow">
                            <p class="mb-1 text-slate-500 dark:text-zink-200">Forwarder Information</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
