<app-page-title [title]="'Bookings'" [pagetitle]="'Bookings'"></app-page-title>

<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-1">
<div class="card">
    <div class="card-body">
        <h6 class="text-15 text-center">Bookings</h6>
        <div class="grid grid-cols-1 gap-5 xl:grid-cols-12 mb-4">
            <div class="xl:col-span-8">
                <div class="relative inline-block w-2/3">
                    
                </div>
            </div>
            <div class="xl:col-span-4">
                <div class="relative inline-block w-2/3">
                    <input type="text" class="w-full py-2 pl-4 pr-8 form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search" autocomplete="off">
                    <lucide-angular name="search" [class]="'inline-block size-4 absolute right-2.5 top-2.5 text-slate-400 fill-slate-100 dark:text-zink-200 dark:fill-zink-500'"></lucide-angular>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Create New <i class="ri-file-add-line" [appModalTrigger]="'addContactModal'"></i></th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Date</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Quote ID</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Booking ID</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Customer Name</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Mode</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Phone & Email</th>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Syed Hussain</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Air</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">In Progress</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">456</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Noman</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Ocean</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">In Progress</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">235</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Saqib</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Trucking </td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">In Progress</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Burhan</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Brokerage</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Completed</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Syed Hussain</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Air</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Completed</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Syed Hussain</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Air</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Completed</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Syed Hussain</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Air</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Completed</td>
                    </tr>
                    <tr class="odd:bg-white even:bg-slate-50 dark:odd:bg-zink-700 dark:even:bg-zink-600">
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"><i class="ri-edit-line"></i> &nbsp;<i class="ri-close-line"></i></td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">1-Mar-24</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">123</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Syed Hussain</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Air</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">12345678</td>
                        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">Completed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--end card-->
</div><!--end grid-->

<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12" *ngIf="air">

 <div class="xl:col-span-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-4 text-15">Sub Menu of Quotation</h6>
                <div id='external-events' class="flex flex-col gap-3 mb-4">
                    <button (click)="toggle('Booking')" data-class="transition-all w-[100%] text-custom-500 !bg-custom-100 dark:!bg-custom-500/20 border-none rounded-md py-1.5 px-3" class='text-left external-event fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event text-custom-500 btn bg-custom-100 hover:text-white hover:bg-custom-600 focus:text-white focus:bg-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:ring active:ring-custom-100 dark:bg-custom-500/20 dark:text-custom-500 dark:hover:bg-custom-500 dark:hover:text-white dark:focus:bg-custom-500 dark:focus:text-white dark:active:bg-custom-500 dark:active:text-white dark:ring-custom-400/20'>
                        Booking
                    </button>
                    <button (click)="toggle('Air')" data-class="text-green-500 w-[100%] !bg-green-100 dark:!bg-green-500/20 border-none rounded-md py-1.5 px-3" class='text-left text-green-500 bg-green-100 external-event fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event btn hover:text-white hover:bg-green-600 focus:text-white focus:bg-green-600 focus:ring focus:ring-green-100 active:text-white active:bg-green-600 active:ring active:ring-green-100 dark:bg-green-500/20 dark:text-green-4000'>
                        Air Waybill - AWB
                    </button>
                    <button (click)="toggle('Documents')" data-class="text-yellow-500 w-[100%] !bg-yellow-100 dark:!bg-yellow-500/20 border-none rounded-md py-1.5 px-3" class='text-left text-yellow-500 bg-yellow-100 external-event fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event btn hover:text-white hover:bg-yellow-600 focus:text-white focus:bg-yellow-600 focus:ring focus:ring-yellow-100 active:text-white active:bg-yellow-600 active:ring active:ring-yellow-100 dark:bg-yellow-500/20 dark:text-yellow-500 dark:hover:bg-yellow-500 dark:hover:text-white dark:focus:bg-yellow-500 dark:focus:text-white dark:active:bg-yellow-500 dark:active:text-white dark:ring-yellow-400/20'>
                        Documents 
                    </button>
                </div>
            </div>
        </div>
    </div><!--end col-->

  <div class="xl:col-span-9" *ngIf="Booking" >
        <div class="card">
            <div class="card-body">
                <form action="javascript:void(0);">

                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-2">
                        <div class="mb-2">
                            <label for="firstNameInput2" class="inline-block mb-2 text-base font-medium">Inquiry Number/ID <span class="text-red-500">*</span></label>
                            <input type="text" id="firstNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Inquiry Number/ID" value="AF02334" required>
                        </div>
                        <div class="mb-2">
                            <label for="lastNameInput2" class="inline-block mb-2 text-base font-medium">Quotation ID<span class="text-red-500">*</span></label>
                            <input type="text" id="lastNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Inquiry Source" value="AF123" required>
                        </div>
                        <div class="mb-2">
                            <label for="UsernameInput" class="inline-block mb-2 text-base font-medium">Creater ID<span class="text-red-500">*</span></label>
                            <input type="text" id="UsernameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer Name" value="1234" required>
                        </div>
                        <div class="mb-2">
                            <label for="cityInput" class="inline-block mb-2 text-base font-medium">Creater Name<span class="text-red-500">*</span></label>
                            <input type="text" id="cityInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer Contact" value="asd" required>
                        </div>
                        <!-- <div class="mb-2">
                            <label for="stateInput" class="inline-block mb-2 text-base font-medium">Date of Inquiry <span class="text-red-500">*</span></label>
                            <select class="form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" id="stateInput" required>
                                <option selected="" disabled="" value="">Choose...</option>
                                <option>Name</option>
                            </select>
                        </div> -->
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Customer Name<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer E-mail" value="Taha Masood" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Customer Contact<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Type" value="123456789" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Customer Email<span class="text-red-500">*</span></label>
                            <input type="email" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer E-mail" value="Explore@digitalhubway@gmail.com" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Customer Address <span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer Address" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Booking Confirmation<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Customer Address" value="asd" required>
                        </div>
                    </div>
                    <div class="flex justify-end gap-2">
                        <!-- <button type="button" class="text-red-500 bg-white btn hover:text-red-500 hover:bg-red-100 focus:text-red-500 focus:bg-red-100 active:text-red-500 active:bg-red-100 dark:bg-zink-700 dark:hover:bg-red-500/10 dark:focus:bg-red-500/10 dark:active:bg-red-500/10"><lucide-angular name="x" [class]="'inline-block size-4'"></lucide-angular> <span class="align-middle">Cancel</span></button> -->
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Print Booking</button>
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Download Booking</button>
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Save</button>
                    </div>
                </form>  
            </div>
        </div>
    </div><!--end col-->  
  
    <div class="xl:col-span-9" *ngIf="Air" >
        <div class="card">
            <div class="card-body">
                <form action="javascript:void(0);">
                    
                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-1 xl:grid-cols-3">
                        <div class="mb-2">
                            <label for="firstNameInput2" class="inline-block mb-2 text-base font-medium">Air Waybill Number<span class="text-red-500">*</span></label>
                            <input type="text" id="firstNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Air Waybill Number" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="lastNameInput2" class="inline-block mb-2 text-base font-medium">Executed Date<span class="text-red-500">*</span></label>
                            <input type="date" id="lastNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"  value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="UsernameInput" class="inline-block mb-2 text-base font-medium">Carrier<span class="text-red-500">*</span></label>
                            <input type="text" id="UsernameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Carrier" value="Airline" required>
                        </div>
                    </div>

                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-1 xl:grid-cols-2 mb-5">
                        <div class="mb-2">
                            <label for="firstNameInput2" class="inline-block mb-2 text-base font-medium">Shipper's Name<span class="text-red-500">*</span></label>
                            <input type="text" id="firstNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Shipper's Name" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="lastNameInput2" class="inline-block mb-2 text-base font-medium">Consignee's Name<span class="text-red-500">*</span></label>
                            <input type="text" id="lastNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Consignee's Name" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="UsernameInput" class="inline-block mb-2 text-base font-medium">Address<span class="text-red-500">*</span></label>
                            <input type="text" id="UsernameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Address" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="cityInput" class="inline-block mb-2 text-base font-medium">Address<span class="text-red-500">*</span></label>
                            <input type="text" id="cityInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Address" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Contact<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Contact" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Contact<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Contact" value="" required>
                        </div>
                    </div>

                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-2 mt-5">
                        <div class="mb-2">
                            <label for="firstNameInput2" class="inline-block mb-2 text-base font-medium">Forwarding Agent Name<span class="text-red-500">*</span></label>
                            <input type="text" id="firstNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Forwarding Agent Name" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="lastNameInput2" class="inline-block mb-2 text-base font-medium">Destination Agent Name<span class="text-red-500">*</span></label>
                            <input type="text" id="lastNameInput2" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Destination Agent Name" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="UsernameInput" class="inline-block mb-2 text-base font-medium">Address<span class="text-red-500">*</span></label>
                            <input type="text" id="UsernameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Address" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="cityInput" class="inline-block mb-2 text-base font-medium">Address<span class="text-red-500">*</span></label>
                            <input type="text" id="cityInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Address" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Contact<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Contact" value="" required>
                        </div>
                        <div class="mb-2">
                            <label for="zipInput" class="inline-block mb-2 text-base font-medium">Contact<span class="text-red-500">*</span></label>
                            <input type="text" id="zipInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Enter Contact" value="" required>
                        </div>
                    </div>

                    <div class="flex justify-end gap-2">
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Print</button>
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Download AWB</button>
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Save</button>
                    </div>
                </form>  
            </div>
        </div>
    </div><!--end col-->  

    <div class="xl:col-span-9" *ngIf="Documents">
        <div class="card">
            <div class="card-body">
                <form action="javascript:void(0);">
                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-3">
                        <div>
                            <label for="contactnameInput" class="inline-block mb-2 text-base font-medium">B13 Form<span class="text-red-500"></span></label>
                            <input type="file" class="cursor-pointer form-file form-file-sm border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500" >
                        </div>
                        <div>
                            <label for="contactnameInput" class="inline-block mb-2 text-base font-medium">Other Documents<span class="text-red-500"></span></label>
                            <input type="file" class="cursor-pointer form-file form-file-sm border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500" >
                        </div>
                    </div>
                    <div class="flex justify-end gap-2">
                        <button type="button" class="text-red-500 bg-white btn hover:text-red-500 hover:bg-red-100 focus:text-red-500 focus:bg-red-100 active:text-red-500 active:bg-red-100 dark:bg-zink-700 dark:hover:bg-red-500/10 dark:focus:bg-red-500/10 dark:active:bg-red-500/10"><lucide-angular name="x" [class]="'inline-block size-4'"></lucide-angular> <span class="align-middle">Cancel</span></button>
                        <button type="submit" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Save</button>
                    </div>
                </form>  
            </div>
        </div>
    </div><!--end col--> 

</div><!--end grid-->


<ng-modals id="addContactModal" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4 ">
    <div class="w-screen md:w-[30rem] bg-white shadow rounded-md dark:bg-zink-600 flex flex-col h-full">
        <div class="flex items-center justify-between p-4 border-b dark:border-zink-500">
            <h5 class="text-16">Add Booking</h5>
            <button data-modal-close="addContactModal" dismissModal [ModalDismiss]="'addContactModal'" class="transition-all duration-200 ease-linear text-slate-400 hover:text-red-500"><lucide-angular name="x" class="size-5"></lucide-angular></button>
        </div>
        <div class="max-h-[calc(theme('height.screen')_-_180px)] overflow-y-auto p-4">
            <form>
                <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-3">
                <div class="mb-2">
                    <label for="contactnameInput" class="inline-block mb-2 text-base font-medium">Name<span class="text-red-500">*</span></label>
                    <input type="text" id="contactnameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="destinationInput" class="inline-block mb-2 text-base font-medium">Quote ID<span class="text-red-500">*</span></label>
                    <input type="text" id="destinationInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="destinationInput" class="inline-block mb-2 text-base font-medium">Booking ID<span class="text-red-500">*</span></label>
                    <input type="text" id="destinationInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="destinationInput" class="inline-block mb-2 text-base font-medium">Date<span class="text-red-500">*</span></label>
                    <input type="date" id="destinationInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="destinationInput" class="inline-block mb-2 text-base font-medium">Phone<span class="text-red-500">*</span></label>
                    <input type="text" id="destinationInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="destinationInput" class="inline-block mb-2 text-base font-medium">Email<span class="text-red-500">*</span></label>
                    <input type="email" id="destinationInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="stateInput" class="inline-block mb-2 text-base font-medium">Mode<span class="text-red-500">*</span></label>
                    <select (change)="onSelect($event)" class="form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" id="stateInput" required>
                        <option selected="" disabled="" value="">Choose...</option>
                        <option>Ocean</option>
                        <option>Air</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="stateInput" class="inline-block mb-2 text-base font-medium">Customer Type<span class="text-red-500">*</span></label>
                    <select class="form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" id="stateInput" required>
                        <option selected="" disabled="" value="">Choose...</option>
                        <option>Individual Customer</option>
                        <option>Coorporate Customer</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="stateInput" class="inline-block mb-2 text-base font-medium">Status<span class="text-red-500">*</span></label>
                    <select class="form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" id="stateInput" required>
                        <option selected="" disabled="" value="">Choose...</option>
                        <option>In Progress</option>
                        <option>Completed</option>
                        <!-- <option>Accepted</option>
                        <option>Not Converted</option> -->
                    </select>
                </div>
             </div>
                <div class="flex justify-end gap-2 mt-4">
                    <button type="reset" dismissModal [ModalDismiss]="'addContactModal'" class="text-red-500 bg-white btn hover:text-red-500 hover:bg-red-100 focus:text-red-500 focus:bg-red-100 active:text-red-500 active:bg-red-100 dark:bg-zink-600 dark:hover:bg-red-500/10 dark:focus:bg-red-500/10 dark:active:bg-red-500/10">Cancel</button>
                    <button type="submit" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Add Booking</button>
                </div>
            </form>
        </div>
    </div>
</ng-modals>
